#!/usr/bin/env python
PACKAGE = "funcase_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("k_p", double_t, 0, "track line Kp parameter", -10.0, 0.0, 10.0)
gen.add("k_i", double_t, 0, "track line Ki parameter", -2.0, 0.0, 2.0)
gen.add("k_d", double_t, 0, "track line Kd parameter", -200.0, 0.0, 200.0)
gen.add("initspeed", double_t, 0, "funcase car initspeed", 100, 50, 255)

exit(gen.generate(PACKAGE, "funcase_controller", "TrackLinePIDparam"))
